/* Base */
.rds-Button__button--base {
  border: 0;
  font-size: var(--font-size-p);
  font-family: var(--font-family-sans-serif);
  padding: 0.5em 0.75em;
  cursor: pointer;
}

.rds-Button__button--base:hover,
.rds-Button__button--base:focus {
  outline: unset;
}

/* Solid squared */

.rds-Button__button--solid-primary-squared {
  border-radius: 0.25em;
  background-color: var(--color-primary);
  border: 0.125em solid var(--color-primary);
  color: var(--color-primary-inverse);
}

.rds-Button__button--solid-primary-squared:hover,
.rds-Button__button--solid-primary-squared:focus {
  box-shadow: 0 0 0 2px var(--color-white), 0 0 0 5px var(--color-primary);
}

.rds-Button__button--solid-secondary-squared {
  border-radius: 0.25em;
  background-color: var(--color-secondary);
  border: 0.125em solid var(--color-secondary);
  color: var(--color-secondary-inverse);
}

.rds-Button__button--solid-secondary-squared:hover,
.rds-Button__button--solid-secondary-squared:focus {
  box-shadow: 0 0 0 2px var(--color-white), 0 0 0 5px var(--color-secondary);
}

.rds-Button__button--solid-destructive-squared {
  border-radius: 0.25em;
  background-color: var(--color-error);
  border: 0.125em solid var(--color-error);
  color: var(--color-error-inverse);
}

.rds-Button__button--solid-destructive-squared:hover,
.rds-Button__button--solid-destructive-squared:focus {
  box-shadow: 0 0 0 2px var(--color-white), 0 0 0 5px var(--color-error);
}

/* Solid rounded */

.rds-Button__button--solid-primary-rounded {
  border-radius: 1em;
  background-color: var(--color-primary);
  border: 0.125em solid var(--color-primary);
  color: var(--color-primary-inverse);
}

.rds-Button__button--solid-primary-rounded:hover,
.rds-Button__button--solid-primary-rounded:focus {
  box-shadow: 0 0 0 2px var(--color-white), 0 0 0 5px var(--color-primary);
}

.rds-Button__button--solid-secondary-rounded {
  border-radius: 1em;
  background-color: var(--color-secondary);
  border: 0.125em solid var(--color-secondary);
  color: var(--color-secondary-inverse);
}

.rds-Button__button--solid-secondary-rounded:hover,
.rds-Button__button--solid-secondary-rounded:focus {
  box-shadow: 0 0 0 2px var(--color-white), 0 0 0 5px var(--color-secondary);
}

.rds-Button__button--solid-destructive-rounded {
  border-radius: 1em;
  background-color: var(--color-error);
  border: 0.125em solid var(--color-error);
  color: var(--color-error-inverse);
}

.rds-Button__button--solid-destructive-rounded:hover,
.rds-Button__button--solid-destructive-rounded:focus {
  box-shadow: 0 0 0 2px var(--color-white), 0 0 0 5px var(--color-error);
}

/* Outlined squared */

.rds-Button__button--outlined-primary-squared {
  border-radius: 0.25em;
  background-color: var(--colorwhite);
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
}

.rds-Button__button--outlined-primary-squared:hover,
.rds-Button__button--outlined-primary-squared:focus {
  box-shadow: 0 0 0 2px var(--color-primary);
}

.rds-Button__button--outlined-secondary-squared {
  border-radius: 0.25em;
  background-color: var(--color-white);
  border: 1px solid var(--color-secondary);
  color: var(--color-secondary);
}

.rds-Button__button--outlined-secondary-squared:hover,
.rds-Button__button--outlined-secondary-squared:focus {
  box-shadow: 0 0 0 2px var(--color-secondary);
}

.rds-Button__button--outlined-destructive-squared {
  border-radius: 0.25em;
  background-color: var(--colorwhite);
  border: 1px solid var(--color-error);
  color: var(--color-error);
}

.rds-Button__button--outlined-destructive-squared:hover,
.rds-Button__button--outlined-destructive-squared:focus {
  box-shadow: 0 0 0 2px var(--color-error);
}

/* Outlined rounded */

.rds-Button__button--outlined-primary-rounded {
  border-radius: 1em;
  background-color: var(--color-white);
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
}

.rds-Button__button--outlined-primary-rounded:hover,
.rds-Button__button--outlined-primary-rounded:focus {
  box-shadow: 0 0 0 2px var(--color-primary);
}

.rds-Button__button--outlined-secondary-rounded {
  border-radius: 1em;
  background-color: var(--color-swhite);
  border: 1px solid var(--color-secondary);
  color: var(--color-secondary);
}

.rds-Button__button--outlined-secondary-rounded:hover,
.rds-Button__button--outlined-secondary-rounded:focus {
  box-shadow: 0 0 0 2px var(--color-secondary);
}

.rds-Button__button--outlined-destructive-rounded {
  border-radius: 1em;
  background-color: var(--color-white);
  border: 1px solid var(--color-error);
  color: var(--color-error);
}

.rds-Button__button--outlined-destructive-rounded:hover,
.rds-Button__button--outlined-destructive-rounded:focus {
  box-shadow: 0 0 0 2px var(--color-error);
}

/* Text squared */

.rds-Button__button--text-primary-squared {
  border-radius: 0.25em;
  background-color: var(--color-white);
  border: 0;
  color: var(--color-primary);
}

.rds-Button__button--text-primary-squared:hover,
.rds-Button__button--text-primary-squared:focus {
  background-color: var(--color-primary-variant);
}

.rds-Button__button--text-secondary-squared {
  border-radius: 0.25em;
  background-color: var(--color-white);
  border: 0;
  color: var(--color-secondary);
}

.rds-Button__button--text-secondary-squared:hover,
.rds-Button__button--text-secondary-squared:focus {
  background-color: var(--color-secondary-variant);
}

.rds-Button__button--text-destructive-squared {
  border-radius: 0.25em;
  background-color: var(--color-white);
  border: 0;
  color: var(--color-error);
}

.rds-Button__button--text-destructive-squared:hover,
.rds-Button__button--text-destructive-squared:focus {
  background-color: var(--color-error-variant);
}

/* Text rounded */

.rds-Button__button--text-primary-rounded {
  border-radius: 1em;
  background-color: var(--color-white);
  border: 0;
  color: var(--color-primary);
}

.rds-Button__button--text-primary-rounded:hover,
.rds-Button__button--text-primary-rounded:focus {
  background-color: var(--color-primary-variant);
}

.rds-Button__button--text-secondary-rounded {
  border-radius: 1em;
  background-color: var(--color-white);
  border: 0;
  color: var(--color-secondary);
}

.rds-Button__button--text-secondary-rounded:hover,
.rds-Button__button--text-secondary-rounded:focus {
  background-color: var(--color-secondary-variant);
}

.rds-Button__button--text-destructive-rounded {
  border-radius: 1em;
  background-color: var(--color-white);
  border: 0;
  color: var(--color-error);
}

.rds-Button__button--text-destructive-rounded:hover,
.rds-Button__button--text-destructive-rounded:focus {
  background-color: var(--color-error-variant);
}
